$ cat .gitignore
*.class
*.dat
*.history
*.lock
*.log
*.out
*.swp
*~
*~.nib
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
._*
.history
/*.iml
/.classpath
/.idea
/.idea_modules
/.project
/RUNNING_PID
/out
Thumbs.db
dist
ehthumbs.db
lib_managed
logs
project/project
project/target
target
tmp
